NEXTAUTH_SECRET
DATABASE_URL

MERCADOPAGO_APP_NUMBER
MERCADOPAGO_CLIENT_SECRET

NEXT_PUBLIC_APP_URL
NGROK_URL

CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET

SEED_USER_EMAIL
SEED_USER_PASSWORD

MERCADOPAGO_ACCESS_TOKEN
MERCADOPAGO_PUBLIC_KEY

RESEND_API_KEY
RESEND_FROM_EMAIL