version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: numalo-postgres
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: numalo
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
